@import "../colors";
@import "../mixins.scss";

.editions {
  &-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 16px;
    justify-content: center;
  }

  &-item {
    background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
    border-radius: 6px;
    padding: 17px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0);

    &:nth-child(2) {
      transition-delay: 0.25s;
    }

    &:last-child {
      transition-delay: 0.5s;
    }

    &__img {
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      height: 172px;
      @include bg;
    }

    &__title {
      margin-top: 20px;
      font-weight: 700;
      line-height: 19px;
      text-align: center;
    }

    &__subtitle {
      color: $sea;
      line-height: 19px;
      font-weight: 500;
      text-align: center;
      margin: 10px 0 32px 0;
    }

    &__description {
      color: $grey;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    &__price {
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: $white;
      margin: 6px 0 14px 0;
      text-align: right;
    }

    &__btn {
      @include button;
      @include hoverViolet;
      padding: 8px 18px;
      font-size: 13px;
      line-height: 15px;
      margin-left: auto;
    }
  }
}

@media (max-width: 1200px) {
  .editions-list {
    grid-template-columns: repeat(1, 350px);
  }
}

@media (max-width: 410px) {
  .editions-list {
    grid-template-columns: repeat(1, 300px);
  }
}
